<div class="main_chat_header">
  <div class="active_room">
    room1
  </div>
  <div class="remove_chat">
    <a href="#">
      チャットを終了する
    </a>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="up_message">
      <div class="take_user">
        Tom
      </div>
      <div class="take_time">
        2020/10/28(wed) 12:14:13
      </div>
    </div>
    <div class="down_message">
      <div class="take_message">
        おはよう
      </div>
    </div>
  </div>

    <div class="massage">
      <div class="up_message">
        <div class="take_user">
          Djeeta
        </div>
      <div class="take_time">
        2020/10/28(wed) 12:17:13
      </div>
    </div>
    <div class="down_message">
      <div class="take_message">
        ヒヒイロカネ
      </div>
    </div>
  </div>
</div>


<div class="form">
  <div class="form_text">
    <input class="form_message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form_submit" type="submit" value="送信">
</div>