.wrapper{
  display: flex;
}

.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side_bar_header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}

.main_chat{
  width: calc(100% - 300px);
  height: 100vh;
  background-color: #ffffff;
}

.main_chat_header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.messages{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding-top: 46px;
  padding: 46px 40px 0 40px;
}

.form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}